html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #d2e5ea;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
/* Header */
header{
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}
header.logo{
    margin-left: 45px;
}
header .nav-header .nav-menu{
    flex-direction: row;
    display: flex;
    justify-content: center ;
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #2e2e31;
    display: block;
    line-height: 2.5;
    padding: 0 30px;
}
a:hover {
    color: #93c11f;
}
a:active{
    color: #ffffff;
    border-radius: 100px;
    background-color: #93c11f;
}
.nav-link-boton {
    background-color: #00476b;
    color: white;
    border-radius: 100px;
}
.nav-link-boton:hover{
    color: #ffffff;
    background-color: #93c11f;
}
.nav-link-boton:active{
    color: #ffffff;
    border-radius: 50px;
    background-color: #00476b;
}
@media (max-width: 500px) {
    header .nav-header .nav-menu{
      flex-direction: column;
    }
  }
/* Estilos para el Hero */
.hero {
    background-image: url('./imagenesTS/hero_TS_2.png'); 
    background-position: center; 
    background-size: cover;
    display: flex;
    padding: 200px 0px;
    color: white;
    position: relative;
}


.hero .hero-contenido{
    width: 100%;
    padding: 20px ;
    border-radius: 100px;
}
.hero .hero-contenido .saludo {
    font-size: 30px;
    color:#00476b;
}
.hero .hero-contenido .hero-titulo{
    font-size: 50px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
}
.hero .hero-contenido .presentacion {
    font-size: 25px;
    color: #00476b;


}
.hero .hero-contenido .hero-boton {
    width: 320px;
    color: #d2e5ea;
    background-color: #93c11f;
    padding: 10px 20px;
    font-size: 18.8px;
    border-radius: 20px;
    cursor: pointer; 
    box-shadow: 3px 3px 8px #4e4e4e; 
    transition: 0.20s ease; 
}
.hero .hero-contenido .hero-boton:hover{
    color: #ffffff;
    background-color: #00476b;
    box-shadow: 5px 5px 12px #4e4e4e;
}
.hero .hero-contenido .hero-boton:active{
    color: #ffffff;
    background-color: #00476b;
}

/* Estilos para Mi BIO */

.main-boton {
    margin-right: 70%;
    background-color: #00476b;
    color: white;
    border-radius: 100px;
    cursor: pointer; 
    transition: 0.20s ease; 
}
@media (max-width:770px){
    .main-boton {
        margin: 0;
    }
}
.main-boton:hover {
    color: #ffffff;
    background-color: #93c11f;
}
.main-boton:active {
    color: #ffffff;
    border-radius: 50px;
    background-color: #00476b;
}
main .nosotros {
    padding: 30px 30px 0px 30px;
    margin-top: -25px;
}
main .nosotros h1{
    font-size: 30px;
    text-align: left;
    color: #00476b;
}
main .nosotros h2{
    font-size: 20px;
    margin-bottom: 0px;
    color:#00476b;
    text-align:left;
}
main .nosotros h3{
    font-size: 20px;
    color: #93c11f;
    text-align:left;
    font-style: italic;
}
main .nosotros p{
    font-size: 15px;
    margin-bottom: 30px;
    color: #00476b;
    text-align: justify;
}
main .nosotros .destacado{
    background: linear-gradient(166deg, rgba(46,46,49,1) 43%, rgba(255,255,255,1) 100%);
    padding: 20px;
}
main .nosotros .destacado-texto{
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}
main .nosotros #destacado-exclamacion {
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #ffffff;
    align-items: center;
}

/* Estilos para Cuarto Colorado */
main .clientes {
    padding: 0px 30px 30px;
}
main .clientes h1{
    font-size: 30px;
    text-align: left;
    color: #142a43;
}
main .clientes h3{
    font-size: 15px;
    text-align: left;
    color: #142a43;
}
main .clientes p{
    font-size: 15px;
    margin-bottom: 30px;
    color: #142a43;
    text-align: justify;
}
main .clientes.productos {
    padding: 10px;
    background-color: #bbbbbb63;
}
main .clientes .productos h2{
    font-size: 15px;
    color: #142a43;
    text-align: left;
}

h4{
    font-size: 20px;
    text-align: left;
    color: #93c11f;
}
h5{
    font-size: 15px;
    text-align: justify;
    color: #f7f8f9;
}

main .clientes .productos .grilla-productos{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
main .clientes .productos .grilla-productos img{
    margin: 20px;
    width: 190px;
}


.renovables{
    background-color: #00476b;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}



/* Estilos para Formulario */
.formulario-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #00476b;
}
.columna-contacto h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}
.links-redes-sociales{
    margin: 0;
}
.contacto-links{
    list-style: none;
    padding: 0px;
    margin-right: 8px; 
    color: #ffffff; 
    font-size: 15px; 
    color: #fefefe;
    text-align: center;
}
.contacto-links li a {
    text-decoration: none; 
    color: #ffffff;
}
.columna-formulario h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
    color: #ffffff;
    text-align: center;
}
.input-nombre {
    display: flex;
    gap: 10px;
}
.input-datos{
    margin-bottom: 15px;
}
.input-datos label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}
.input-datos input,
.input-datos textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #4e4e4e;
    background-color: #ffffff;
}  
.input-datos textarea {
    resize: none;
    height: 100px;
}
button {
    background-color: #ffffff;
    color: #00476b;
    padding: 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #2e2e31;
} 
/* Estilos para FOOTER */
footer{
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #ddd, #ffffff);
}
footer h2{
    font-size: 15px;
}
footer .texto-footer{
    font-size: 8px;
}
.wsp-boton {
  position: fixed;      /* ← lo mantiene visible aunque hagas scroll */
  bottom: 20px;            /* distancia desde arriba */
  right: 20px;           /* o right: 20px; si lo querés a la derecha */
  background: none;     /* sin fondo, opcional */
  border: none;         /* sin borde */
  padding: 0;
  cursor: pointer;
  z-index: 999;         /* se queda por encima del resto */
}

.wsp-boton img {
  width: 100px;          /* ajustá el tamaño del logo */
  height: auto;
}
#nuestros-clientes *{
    text-align: left;
   color:#00476b
}